* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: PlusJakartaSans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Helvetica Neue,Ubuntu,sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.fundo-1 {
    background-image: url('../images/pexels-pixabay-414029 (1).jpg');
    background-repeat:repeat;
    background-attachment:local;
    background-size: 100%;
    background-position: fixed;
    opacity: 0.95;
}

.fundo-2 {
    background-image: url('../images/pexels-andrea-piacquadio-3757941.jpg');
    background-repeat:repeat;
    background-attachment:local;
    background-size: 100%;
}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

#group {
    width: 100%;
    height: 100%;
}

#cabecalho {
    width: 100%;
    background-color: rgba(221, 236, 237, 0.9);
    display: inline-flex;
    padding: 10px 0px;
    position: fixed;
    border-bottom-color: #000;
    border-bottom-width: 23x;
}

.titulo {
    font-size: 15px;
    width: 25%;
}

.titulo > h1 {
    text-align: center;
}

.pesquisa {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.pesquisa > form {
    width: 100%;
}

#pesquisa {
    width: 90%;
    height: 38px;
    font-weight: 600;
    color:rgb(83, 83, 90);
    border: none;
}

#pesquisa:focus{
    outline: none;
}

#barra-pesquisa {
    background-color: White;
    width: 80%;
    margin-left: 10%;
    display: flex;
    border: 2px solid #c5d4e7;
    border-radius: 3px;
}

#barra-pesquisa:focus {
    border: 3 solid #4639E0;
}

.menu {
    width: 25%;
    text-align: center;
}

.list-items {
    display: inline-flex;
    list-style: none;
}

.menu-item {
    text-decoration: none;
    margin: 10px 15px;
    font-size: 100%;
    font-weight: 500;
    font-weight: 400;
    color: rgb(46, 58, 71);
}

.menu-item:hover {
    color: rgb(67, 179, 207);
}

.icone-pesquisa {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 9px;
    margin-right: 6px;
}

.titulo-esquerda {
    color: rgb(30, 30, 31);
}

.titulo-direita {
    color: #4639E0;
}

#painel-esquerdo {
    padding-top: 40px;
    background-color: rgba(227, 235, 238, 0.8);
    width: 25%;
    height: 100%;
    font-display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    margin-top: 62px;
}

#painel-esquerdo-1 {
    padding-top: 20px;
    background-color: rgba(227, 235, 238, 0.8);
    width: 25%;
    height: 100%;
    font-display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    margin-top: 65px;
}

.painel-esquerdo-detalhes {
    padding-top: 0px;
    padding-top: 10px;
}

#corpo {
    height: 100%;
    width: 100%;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.3);
}

.descricao {
    margin-left: 18px;
    height: 75%;
}


.decricao-detalhes {
    margin: 0px;
    height: 5%;
    text-align: center;
}

p {
    margin-top: 10px;
    font-size: 16px;
    width: 90%;
    word-spacing: 3px;
    line-height: 28px;
}

.detalhes-botao {
    max-width: 100%;
    font-weight: 600;
    line-height: 1;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color .1s,border ease-in-out,transform .1s,box-shadow 5ms,border-color .25s;
    vertical-align: top;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: -.015em;
    border: 1px solid;
    border-radius: 6px;
    outline: none;
    background: 0 0;
}


.botao {
    width: 70%;
    background: rgb(48, 50, 51);
    color: rgb(255, 255, 255);
    border-color: #dfdfe0;
    margin-left: 14%;
    height: 35px;
    padding: 5px;
    border: 1 solid #397ce0;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;
}

.botao-1 {
    width: 70%;
    background: rgb(48, 50, 51);
    color: rgb(255, 255, 255);
    border-color: #dfdfe0;
    margin-left: 14%;
    height: 35px;
    padding: 12px 6px;
    border: 1 solid #397ce0;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;
}

.botao:hover {
    background: rgb(118, 132, 139);
}

.botao-1:hover {
    background: rgb(154, 182, 196);
    width: 72%;
    color:#000;
    margin-left: 13%;
}

.botao-1-selected {
    background: rgb(55, 55, 85);
    width: 72%;
    color: white;
    margin-left: 13%;
}

.botao > span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgb(235, 243, 243);
}

#div-main {
    width: 100%;
    height: 100%;
}

#painel-central {
    width: 75%;
    margin-left: 25%;
    height: 100%;   
    display: inline-flex;
    margin-top: 65px;
}

#painel-central-2 {
    width: 75%;
    margin-left: 25%;
    min-height:100%;
    height: max-content;   
    display: inline-flex;
    margin-top: 65px;
}

#div-login {
    margin-top: 14%;
    width: 40%;
    height: 45%;
    margin-left: 30%;
    margin-right: 25%;
    box-shadow: 2px 2px #dbebec;
    padding: 40px;
    background-color: rgb(221, 233, 233);
    border-radius: 5px;
}

#div-login > h2 {
    margin-left: 10%;
    margin-bottom: 20px;
}

.form-element {
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
}

.form-element > label {
    color: rgb(50, 54, 54);
    font-weight: 600;
}


#botao-submeter:hover {
    background-color: rgb(118, 132, 139);
    border-color: rgb(118, 132, 139);
}

.form-element > .element > input {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,cantarell,helvetica neue,ubuntu,sans-serif;
    margin-top: 8px;
    width: 100%;
    height: 33px;
    border: 2px solid #c0c6c7;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 16px;
    color: rgb(48, 49, 51);
    padding: 0px 10px;
}

.form-element > .element > input:focus {
    outline-style: dashed;
    outline:#397ce0;
    outline-color: #4639E0;
    outline-width: 10px;
}

#botao-submeter {
    margin-left: 10%;
    margin-top: 10px;
    width: 150px;
    height: 35px;
    background: rgba(48, 50, 51, 0.9);
    border-color: rgb(77, 96, 107);
    color: White;
}

.status-message {
    color:#000;
}

.active {
    margin-top: 2px;
    color: red;
}

.botao-status {
    display:flex;
    flex-direction: column;
}

.outros {
    width: 25%;
    display: inline-flex;
}

#login-status {
    text-align: center;
    font-size: 17;
}

.utilizador {
    font-size: 16px;
    margin-right: 20px;
    margin-left: 33%;
}

#submeter-matricula:hover {
    background-color: #545d64;
}

#tipo-utilizador {
    color: rgb(2, 2, 43);
}

#sair {
    margin-top: 10px;
}

#sair > a:hover{
    background-color: rgb(245, 4, 4);
}

#sair > a {
    color: #243847;
    text-decoration: none;
    padding: 5px 12px;
    border: 1px solid rgb(20, 45, 59);
    text-align: center;
}

#painel-central-1 {
    width: 66.7%;
    min-height:100%;
    height: max-content;
    font-display: flex;
    justify-content: space-around;
    background-color: rgba(227, 235, 238, 0.8);
}

#lista-estudantes {
    width: 50%;
}

#painel-direito {
    background-color: rgba(227, 235, 238, 0.8);
    width: 25%;
    height: 100%;
    margin-left: 50%;
    font-display: flex;
    flex-direction: column;
    position:fixed;
}

.filtros-group {
    margin-top: 20px;
    width: 70%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.lista-alunos {
    width: 100%;
    margin-bottom: 10px;
}

.lista-atricula {
    width: 100%;
}

.aluno {
    margin: 3px 0px;
    width: 95%;
    margin-left: 2.5%;
    height: 100px;
    color: white;
    background-color: #232135;
    border-radius: 10px;
    display: inline-flex;
}


.matricula {
    margin-top: 10px;
    width: 100%;
    color: white;
    border-radius: 10px;
    display: inline-flex;
}

.paga:hover {
    background-color: #aeb3bd; 
    color: black;
    cursor: pointer;
}

.matricula-detalhes {
    padding: 10px;
}


.aluno:hover {
    width: 96%;
    margin-left: 2%;
    background-color: #aeb3bd; 
    color: black;
    cursor: pointer;
}

.imagem {
    padding: 10px;
    max-width: 120px;
    max-height: 100px;  
}

.imagem > figure > img {
    width: 100%;
    height: 100%;
    border-radius: 3px; 
}

.aluno-detalhes {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 20px;
}

.nome-item {
    font-weight: 600;
}

.descricao-filtro {
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}

#div-filtros {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filtro {
    border-bottom: 5 solid black;
    padding: 5px 0px;
}

.linha {
    width: 80%;
    height: 0px;
    color: #3c5480;
    background-color:#d5e039;
}

.filtro > h3 {
    font-weight: 500;
}

.filtro > select {
    width: 100%;
    height: 32px;
    margin-top: 10px;
}

.change-bg {
    background-color: rgba(227, 235, 238, 0.8);
    
}

.tipo-dados{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 10px;
    margin-left: 7%;
}

.cima {
    width: 100%;
}

.horizontal {
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.spand {
    display: flex;
    justify-content: space-between;
}

.horizontal-2 {
    margin-top: 4px;
    color:#243847;
    display: inline-flex;
    background-color: #dce1e9;
    padding: 2px 5px;
    border-radius: 4px;
    margin-top: 0px;
}

.horizontal-2  > div > span {
    width: 30px;
    height: 25px;
    margin: 0px 5px;
    border-radius: 4px;
    text-align: center;
    padding: 2px 0px;
   
}

.spand > div > button {
    width: 40px;
    height: 25px;
}

.spand > div > button:hover {
    background-color: #404449;
}

.form-esquerdo {
    width: 44%;
}

.form-direito {
    width: 45%;
}

.tema {
    width: 100%;
    text-align: center;
}

.form-dados > h2 {
    text-align: left;
}

.form-esquerdo-2 {
    width: 45%;
}

.form-centro {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-direito-2 {
    width: 45%;
}

.espaco {
    margin-bottom: 12px;
}

.espaco > h3 {
    margin-bottom: 5px;
}


.campo {
    width: 100%;
}

.campo > button {
    width: 80%;
    margin-left: 10%;
    height: 25px;
}

.campo {
    width: 100%;
}

.campo-1 > select {
    width: 100%;
    height: 100%;
    border-color: #acc0dd;
    border-radius: 5px;
}

.campo > h3 {
    font-weight: 500;
}

.campo > span {
    margin-left: 10px;
    font-style: italic;
}

.element {
    margin-bottom: 10px;
}

.campo > .element > input {
    width: 100%;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
}

.foto {
    width: 100%;
    margin-left: 24%;
    height: 82%;
    border: 2px solid rgb(150, 167, 175);
    background-color: #dbdfe7;
    border-radius: 5px;
}

.foto > input {
    width: 100%;
    height: 95%;
    border-color: #000;
    margin-bottom: 0px;
    padding: 0px;
}

.foto > label {
    text-align: center;
}


input[type='file'] {
    opacity:0   
  }

.baixo {
    margin-top: 20px;
}

.baixo > div > h2 {
    color:#1f2022;
}

.baixo > button {
    width: 20%;
    margin-left: 40%;
    height: 30px;
    border-color: #aeb3bd;
    background-color: #3a3f47;
    color: white;
}

.cima > div > h2 {
    color:#1f2022;
}

.info-item {
    margin-left: 10px;
    font-style: italic;
}

.lado-esquerdo {
    width: 50%;
    display: flex;
    height: 100px;
    background-color: rgba(47, 52, 54, 0.8);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.lado-direito {
    width: 50%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
}

.cima-1 {
    display: flex;
    border-top-right-radius: 5px;
    background-color: rgba(49, 68, 121, 0.8);
    height: 100px;
}

.baixo-1 {
    display: flex;
    justify-content: end;
    background-color: #434a50;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.baixo-1:hover {
    background-color: #5c7183; 
    cursor: pointer;
}

.group-line {
    width: 80%;
    display: flex;
}

.info-botao {
    height: 100%;
    width: 20%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.info-botao > button {
    height: 100%;
    width: 100%;
    background-color: #617be4;
    border-color: #617be4;
    font-weight: 600;
    opacity: 0.8;
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.dinheiro {
    margin-left: 10px;
    padding-top: 5px;
    margin-right: 2%;
    padding-right: 10px;
    border-right: 2px solid rgb(142, 142, 150);
}

.valor {
    font-style:normal;
}

.foto-1  {
    width: 100%;
    height: 80%;
    margin-left: 25%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(209, 209, 209);
    padding: 10px 0px;
    border-radius: 5px;
    border: 2px solid rgb(161, 171, 184);
}

.foto-1 > div {
    width: 48%;
    height: 100%;
}

.foto-1 > div > img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.total {
    width: 100%;
    margin: 15px;
    display: flex;
    justify-content: space-around;
}

.pagar-tudo {
    width: 100%;
}

.pagar {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color:#1f2022;
    color: white;
}

.horizon {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.horizon > div > button {
    width: 120px;
    height: 35px;
    margin: 10px;
    background-color: #2e3133;
    color: white;
}

.super {
    margin-top: 5%;
}

.montante {
    margin-top: 5%;
}

#voltar {
    background-color: #586188;
}