<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="ProGymPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>modelo.GestorDeFilial</class>
    <class>modelo.Contrato</class>
    <class>modelo.Filial</class>
    <class>modelo.AssociaçãoAdministrativa</class>
    <class>modelo.RelatorioDiário</class>
    <class>modelo.Aluno</class>
    <class>modelo.Pagamento</class>
    <class>modelo.Atividade</class>
    <class>modelo.Secretária</class>
    <class>modelo.Cobranca</class>
    <class>modelo.Matricula</class>
    <class>modelo.Professor</class>
    <class>modelo.CoordenaçãoDesportiva</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/ProGym?zeroDateTimeBehavior=CONVERT_TO_NULL"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.cj.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="mahomed200"/>
    </properties>
  </persistence-unit>
</persistence>
